/* 公共样式 */
html{overflow-x:hidden;}
body{ font:14px "SimSun","Microsoft Yahei";color:#474344;background: url("../images/123.jpg") 0% 0% / 1366px 877px no-repeat;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
li{list-style:none}
img{border:0;}
a{color:#000;text-decoration:none;outline:none;}
em{ font-style:normal;}
table{ border-collapse: collapse;}
.fl{ float: left; display:inline;} 
.fr{ float: right; display:inline;}
.w{ width:1043px; margin:0 auto;}
.mt15{ margin-top:15px;}
.locating{ position:relative;}
.transparent{filter:alpha(opacity=30); opacity: 0.3; }
.transparentv{filter:alpha(opacity=70); opacity: 0.7; }
.img-z span,.img-z em{ position:absolute; left:0; bottom:0; height:37px;}
.img-z span{ background:#000;}
.img-z em{ z-index:2; font:14px/37px '微软雅黑'; color:#fff; text-align:center;}
/*header*/
#header{ width:900px;overflow:hidden;height:auto;}
.topbar{ height:110px;overflow:hidden;}
.topbar .logo{ margin: 45px 15px 10px 5px;}
.topbar .nav{ width:630px; height:50px; background:#006725; box-shadow:3px 3px 3px #ccc;  margin-top: 45px;overflow:hidden;}
.topbar .nav li{ float:left; font:14px/50px '微软雅黑'; text-align:center; width:78px; height:50px;position:relative;}
.topbar .nav li a{color:#fff;}
.topbar .nav li:hover{ background:#ff6709;}
.topphoto{margin-bottom:10px;}
.topphoto img{border:2px solid gold;}
/*main*/
#main{width:900px;overflow:hidden;height:auto;background-color: #E7F1FA;}
#main .l_box {width: 710px;}
#main .r_box {width: 300px;}
#main .l_box_title{border-bottom:2px solid #bebebe; height:46px; line-height:46px;}
.name{ display:block; height:46px; padding:0 15px; font-size:20px; border-bottom: 2px solid #bb1212;
    float: left;
    color: #3807f9;
	line-height: 48px;}
#main .l_box_content{ padding:20px 10px; height:auto; overflow:hidden; font-size:16px; line-height:1.25; word-wrap: break-word;}
#main .l_box_content p{ text-indent:2em;line-height:2;color:#383838;}
#main .r_box_hy ul{margin-bottom:50px;}
#main .r_box_hy ul li{width:287px;height:97px;margin-top:5px;margin-bottom:20px;}
#main .r_box_hy .hy .b{margin-top:20px;}
#main .r_box_hy .hy li a:hover img{border:2px solid #a4c2f4;}
#main .r_box_hy .yq {background:#e8e7e7;height:376px;}
#main .r_box_hy .yq img{margin-top:10px;}
#main .r_box_hy .yq li{text-align:center;height:70px;line-height:70px;}
#main .r_box_hy .yq li a:hover img{border:2px solid #ff6709;}
/*main extra*/
#main .main_box{margin:20px;width:1043px;}
#main .main_table{border-collapse:collapse;}
#main .main_table tr{height:50px;}
#main .main_table td{text-align: center;border:1px solid #000;line-height:30px;height:30px;padding:5px;}
#main .main_table .table_title{background-color: #6795B4;padding:5px;color:#fff;font:normal 16px/2em bold,"微软雅黑";height:30px;letter-spacing:2px;}
#main .main_table .table_subtitle{background-color:#EEE;font-weight:bold;}
#main a{color:blue;}
#main a:hover{color:red;text-decoration:underline;}
#main .main_page{ margin:5px;}
#main .main_page .page_text{font:normal 14px/1.5em bold,Tahoma; color:#F26521;}
#main .main_box .main_table{background-color: #e7f1fa;}
#main .main_table td:nth-child(2n+1){color: #4414ff;font-weight:bold;text-align:left;width:100px;}
#main .main_table td:nth-child(2n){width:300px;}
#main .main_table input[type="text"]{width:200px;height:30px;}
#main .main_table select{width:205px;height:35px;}
#main .main_table input[type="file"]{width:200px;color:red;padding-left:15px;}
#main .main_table textarea{width:800px;height:100px;max-width:800px;max-height:100px;font-size:16px;margin-top:10px;}
#main .main_table input[type="date"]{width:200px;height:30px;}
#main .main_table td:last-child{text-align:center;}
#main .main_table .btn {width:100px;height:35px;margin:10px 50px;border-radius:5px;border:1px solid gray;background-color: #4a59d5;color:#fff;font-size:14px;font-weight:bold;}
#main .main_table .btn:hover{color:orange;cursor:pointer;}
/*rcap*/
#main .l_box_content table { word-wrap:break-word;font-size:12px;}
/*qtxx*/
#main .l_box_content .dlt{width:640px;margin:0 auto 0 10px;display:inline;}
#main .l_box_content .dlt_t{width:640px;margin:20px 0;height:30px;line-height:30px;text-align:center;font-size:16px;font-weight:bold;color:#666;}
/*lxww*/
#main .l_box_content  .lemma-map{margin-top:20px;}
/* registerform */
#main .l_box_content .registerform .need{width:10px;color:#f00;height: 20px;}
#main .l_box_content .registerform .txt{width:100px;vertical-align:middle;font-size:16px; color:#3807f9;}
#main .l_box_content .registerform td{padding:10px 0;vertical-align:top;text-align:left;}
#main .l_box_content .registerform .inputxt{border:1px solid #0481f1;width:200px;padding:2px;height:30px;}
#main .l_box_content .registerform label{margin:0 26px 0 10px;}
#main .l_box_content .registerform .tip{line-height:20px;color:#5f6a72;}
#main .l_box_content .registerform select{width:202px;height:40px;border: 1px solid #0481f1;}
#main .l_box_content .registerformalter select{width:124px;}
input,select{ font-size:1.2em; margin:0; color:#000; font-family:tahoma, arial, simsun, sans-serif;}
table{ border-collapse:collapse; border-spacing:0;}
:focus{ outline:none;}
.confirm,.clear{ width:100px; border:0; height:35px; background:#323846;color:#fff; cursor:pointer;}
.confirm:hover,.clear:hover{ background:#78BEF9;}
/*footer*/
#footer{ width:1043px; border-top:1px solid #999; margin:50px auto auto;text-align:center;}/*版权内容div*/
#footer p{ padding:10px 0;color:#4414ff;font-family:"tahoma";}