<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lcw.dao.HomeinformationMapper">
  <resultMap id="BaseResultMap" type="lcw.model.HomeinformationKey">
    <id column="project_no" jdbcType="INTEGER" property="projectNo" />
    <id column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="lcw.model.HomeinformationKey">
    delete from home_information
    where project_no = #{projectNo,jdbcType=INTEGER}
      and email = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="lcw.model.HomeinformationKey">
    insert into home_information (project_no, email)
    values (#{projectNo,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lcw.model.HomeinformationKey">
    insert into home_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        #{projectNo,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="lcw.model.HomeinformationKey">
    <id column="project_no" jdbcType="INTEGER" property="projectNo" />
    <id column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="lcw.model.HomeinformationKey">
    delete from home_information
    where project_no = #{projectNo,jdbcType=INTEGER}
      and email = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="lcw.model.HomeinformationKey">
    insert into home_information (project_no, email)
    values (#{projectNo,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lcw.model.HomeinformationKey">
    insert into home_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        #{projectNo,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="lcw.model.HomeinformationKey">
    <id column="project_no" jdbcType="INTEGER" property="projectNo" />
    <id column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="lcw.model.HomeinformationKey">
    delete from home_information
    where project_no = #{projectNo,jdbcType=INTEGER}
      and email = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="lcw.model.HomeinformationKey">
    insert into home_information (project_no, email)
    values (#{projectNo,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lcw.model.HomeinformationKey">
    insert into home_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        #{projectNo,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="lcw.model.HomeinformationKey">
    <id column="project_no" jdbcType="INTEGER" property="projectNo" />
    <id column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="lcw.model.HomeinformationKey">
    delete from home_information
    where project_no = #{projectNo,jdbcType=INTEGER}
      and email = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="lcw.model.HomeinformationKey">
    insert into home_information (project_no, email)
    values (#{projectNo,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lcw.model.HomeinformationKey">
    insert into home_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        #{projectNo,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="lcw.model.HomeinformationKey">
    <id column="project_no" jdbcType="INTEGER" property="projectNo" />
    <id column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="lcw.model.HomeinformationKey">
    delete from home_information
    where project_no = #{projectNo,jdbcType=INTEGER}
      and email = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="lcw.model.HomeinformationKey">
    insert into home_information (project_no, email)
    values (#{projectNo,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lcw.model.HomeinformationKey">
    insert into home_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        project_no,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        #{projectNo,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>