<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>guolu.controller.HomePage</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>guolu.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>guolu.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowFaulistController</servlet-name>
    <servlet-class>guolu.controller.ShowFaulistController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowFaultOKController</servlet-name>
    <servlet-class>guolu.controller.ShowFaultOKController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdviceController</servlet-name>
    <servlet-class>guolu.controller.AdviceController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FaultknowAlterController</servlet-name>
    <servlet-class>guolu.controller.FaultknowAlterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FaultknowAddController</servlet-name>
    <servlet-class>guolu.controller.FaultknowAddController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowMainlistController</servlet-name>
    <servlet-class>guolu.controller.ShowMainlistController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MaintainAddController</servlet-name>
    <servlet-class>guolu.controller.MaintainAddController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MaintainknowAlterController</servlet-name>
    <servlet-class>guolu.controller.MaintainknowAlterController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NanliangshowController</servlet-name>
    <servlet-class>guolu.controller.NanliangshowController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WarmAndEvaluateController</servlet-name>
    <servlet-class>guolu.controller.WarmAndEvaluateController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAdvicelistController</servlet-name>
    <servlet-class>guolu.controller.CheckAdvicelistController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdviceInserController</servlet-name>
    <servlet-class>guolu.controller.AdviceInserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WarmController</servlet-name>
    <servlet-class>guolu.controller.WarmController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AA</servlet-name>
    <servlet-class>guolu.controller.AA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>guolu.controller.DeleteController</servlet-class>
  </servlet>



 

  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowFaulistController</servlet-name>
    <url-pattern>/ShowFaulistController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowFaultOKController</servlet-name>
    <url-pattern>/ShowFaultOKController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdviceController</servlet-name>
    <url-pattern>/AdviceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FaultknowAlterController</servlet-name>
    <url-pattern>/FaultknowAlterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FaultknowAddController</servlet-name>
    <url-pattern>/FaultknowAddController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMainlistController</servlet-name>
    <url-pattern>/ShowMainlistController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaintainAddController</servlet-name>
    <url-pattern>/MaintainAddController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaintainknowAlterController</servlet-name>
    <url-pattern>/MaintainknowAlterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NanliangshowController</servlet-name>
    <url-pattern>/NanliangshowController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarmAndEvaluateController</servlet-name>
    <url-pattern>/WarmAndEvaluateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckAdvicelistController</servlet-name>
    <url-pattern>/CheckAdvicelistController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdviceInserController</servlet-name>
    <url-pattern>/AdviceInserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarmController</servlet-name>
    <url-pattern>/WarmController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AA</servlet-name>
    <url-pattern>/AA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
</web-app>
